Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element: Hotels -->
    <xs:element name="Hotels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Hotel type definition -->
    <xs:complexType name="HotelType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Address" type="AddressType"/>
            <xs:element name="Phone" type="xs:string"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
            <xs:element name="Website" type="xs:string" minOccurs="0"/>
            <xs:element name="Rating" type="xs:decimal"/>
            <xs:element name="Rooms" type="RoomsType"/>
            <xs:element name="Amenities" type="AmenitiesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Address type -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="State" type="xs:string"/>
            <xs:element name="ZipCode" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Rooms type -->
    <xs:complexType name="RoomsType">
        <xs:sequence>
            <xs:element name="Room" type="RoomType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Room type -->
    <xs:complexType name="RoomType">
        <xs:sequence>
            <xs:element name="RoomNumber" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Available" type="xs:boolean"/>
            <xs:element name="Capacity" type="xs:positiveInteger"/>
            <xs:element name="BedType" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Amenities type -->
    <xs:complexType name="AmenitiesType">
        <xs:sequence>
            <xs:element name="Amenity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
